@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  z-index: 0;
}

/* .jumbotron {
      padding-top: 2rem;
} */

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/test.png);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.navbar .navbar-nav .nav-item {
  position: relative;
  font-family: "Poppins", sans-serif;
}
/* .navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  background-color: #b89ef9;
  width: 0%;
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
} */

.navbar .navbar-nav li {
  list-style: none;
  flex: 1;
  font-size: 30;
  cursor: pointer;
}

.navbar .navbar-nav li a {
  color: #b89ef9;
  transition: 0.5s ease;
}
.navbar .navbar-nav li .waduh {
  color: #b89ef9;
  border-bottom: 5px solid #b89ef9;
  width: 100%;
  border-radius: 1px;
  transition: 0.5s ease;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url(img/mobile.png);
    background-size: cover;
    background-position: center;
  }

  .hero .container {
    position: relative;
    right: 50px;
    bottom: 0px;
    top: 300px;
    /* width: 400px; */
  }
}
/* #gel1 {
  padding-top: 22rem;
      position: absolute;
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
} */

.mt-5 {
  margin-top: 5rem !important;
}

/* Reference */
.project__img {
  position: relative;
  overflow: hidden;
}
.project__img img {
  border-radius: 0.5rem;
}
.project__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(5px);
  transition: 0.3s;
}
.project__img:hover .project__link {
  bottom: 0;
}
.project__link-name {
  color: var(--dark-color);
}

/* profile */
.profile-area {
  padding: 80px 0;
}
.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0, 5);
  overflow: hidden;
  border-radius: 15px;
}

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}
.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px;
}
.card:hover .img2 img {
  border-color: darkcyan;
  transition: 0.7s;
}
.main-text {
  padding: 20px 0;
  text-align: center;
}
.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}
.main-text p {
  font-size: 16px;
  padding: 0 20px;
}
.socials {
  text-align: center;
  padding-bottom: 20px;
}
.socials i {
  font-size: 20px;
  color: darkcyan;
  padding: 0 10px;
}
